body{
    font-family: 'Merriweather', serif;
    width: 1600px;
    background-color: #FFF;
    margin: 0 auto;
}

/* header section start*/
.head-container{
    
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('./image/Banner.png');
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    align-content: center;
    max-width: 0 auto;
    margin: 0 auto;
    
}
.header{
    color: white;
    justify-content: center;
    text-align: center;
    font-style: normal;
    position: relative;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}
section> .header >h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
section> .header >h1{
    font-size: 70px;
    font-weight: 800;
    line-height: 95px;
}
/* header section end*/

/* main section start*/
.bonus-container{
    text-align: center;
    font-family: Inter;
    font-style: normal;
}
.bonus-container>h1{
    color: #F00;
    font-size: 80px;
}
.bonus-container>h4{
    color: #F00;
    font-size: 24px;
}
.bonus-container>h2{
    color: #070211;
    font-size: 48px;
}

.welcome{
   
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100% ),url('./image/Vectorrr.png'); 
    height: 350px;
    margin: 130px;
    color: #FFF;
    display: flex;
    justify-content: center;
    padding: 126px;
    background-repeat: no-repeat;
    font-style: normal;
    border-radius: 10px;
}
.welcome > h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.welcome>p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.welcome >h4{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.img{
    position: relative;
    padding-left: 50px;
    
}

.join{
    width: 1320px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    max-width: 0 auto;
    margin: 0 auto;
}
span{
    color: #F00;
    

}
.btn{
    background-color: #F00;
    border-radius: 8px;
    padding: 16px 32px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

/* offer section start*/
.offer-container{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 1600px;
    max-width: 0 auto;
    margin: 0 auto;
}


#ellip{
    width: 364px;
    height: 364px;
    border-radius: 364px;
    padding:30px;
    border: 10px solid red;
    margin: 30px;
}
.offer-desc{
    padding-right: 20px;
}
.offer-desc>p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    
}
.offer-desc>h3{
    color: #F00;
}
.offer-desc>h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.offer-year{
    padding-left: 20px;
}
.offer-year>h1{
    font-size: 48px;
    color: #F00;
}
/* offer section end*/



/* portfolio section start*/
.portfolio{
    background-color: white;
    width: 1600px;
    display: block;
    margin: 120px;
}
.portfolio>div>h4{
    color:red;
}
.portfolio>div>p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    
}
.image{
    display:block;
    
}
.image1st{
    display: flex;
}
.image2nd{
    display: flex;
}
.port{
    margin: 5px;
}
.port:hover{
    border: 2px solid black;
}

/* portfolio section end*/

/* subscribe section start*/
.subscribe{
    width: 1320px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0 auto;
    max-width: 0 auto;
}
 .form{
    text-align: center;
 }
input{
    width: 500px;
    border-radius: 50px;
    height: 50px;
    position: relative;
    padding-left: 10px;
}
#form>button{
    color: white;
    position: relative;
    width: 210px;
    height: 50px;
    font-size: 20px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    bottom: 20%;
    right: 15%;
}
/* subscribe section end*/

/* footer section start*/
footer{
    width: 1600px;
    flex-shrink: 0;
    background-color: #070211;
    color: white;
    font-size: 24px;
    margin-top: 30px;
}
.first-part{
    display: flex;
}
.first-desc{
    position: relative;
    padding:120px 140px 50px;
}
.imgp{
    position: relative;
    padding-top: 120px;
    bottom: 30%;
    left: 20%;
}
.contact{
    justify-content: center;
    display: flex;
    
}
.contact>img{
    height: 60px;
    width: 60px;
    padding: 24px 12px;
}

.last-part{
    display: flex;

}
#first{
    position: relative;
    padding:50px 140px 50px;
}
#second{
    position: relative;
    padding-top: 50px;
    bottom: 30%;
    left: 35%;
}
/* footer section end*/


